.loading{
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    margin:auto;
    z-index:2;
    height: 50px;
    width: 150px;
    text-align: center;
}

.textLoading{
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 16px;
}

.loadingScreen{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);

}